{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Popayán All Tour</title>

    <!-- Fuentes e íconos -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.4.0/css/all.css">
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <script src="{% static 'js/home.js' %}"></script>

    <!-- favicon -->
    <link rel="shortcut icon" href="../static/img/home/imagen_2025-03-16_185953883-removebg-preview.png"
        type="image/x-icon">
    <!-- Preload de imágenes slider -->
<link rel="preload" as="image" href="{% static 'img/home/1home.webp' %}">

</head>

<body>

    <!-- Hero Section con Navbar -->
    <div class="hero-section">
        <div class="background-slider">
            {% for i in "12345678" %}
            <div class="slide{% if forloop.first %} active{% endif %}"></div>
            {% endfor %}
        </div>

        <nav class="navbar" id="navbar">
            <a href="#" class="logo-nav">
                <img src="{% static 'img/home/logo.png' %}" alt="Popayán Tour Logo">
            </a>
            <ul class="nav-menu" id="nav-menu">
                <li><a href="#">Inicio</a></li>
                <li><a href="{% url 'semanaSanta' %}">Semana santa</a></li>
                <li><a href="{% url 'listar_hoteles' %}">Sitios de interés</a></li>
                <li><a href="{% url 'historia_1537' %}">Historia</a></li>
                <li><a href="{% url 'entretenimiento' %}">Entretenimiento</a></li>
            </ul>
            <div class="nav-actions">
                <div class="nav-icons">
                    {% if request.user.is_authenticated %}
                    <!-- Usuario autenticado: redirige al perfil -->
                    <a href="{% url 'perfilUser' %}" class="nav-icon" title="Mi perfil">
                        <i class="fas fa-user"></i>
                    </a>
                    {% else %}
                    <!-- Usuario invitado: redirige al login -->
                    <a href="{% url 'login' %}" class="nav-icon" title="Iniciar sesión">
                        <i class="fas fa-user"></i>
                    </a>
                    {% endif %}
                </div>
                <div class="hamburger" id="hamburger">
                    <i class="fas fa-bars"></i>
                </div>
            </div>
        </nav>

        <div class="hero-content">
            <div class="welcome-line">
                <div class="welcome-text">BIENVENIDO A</div>
                <div class="city-line"></div>
            </div>
            <div class="city-name-container">
                <h1 class="city-name">Popayán</h1>
            </div>
            <div class="location"> <i class="fa-solid fa-location-dot" style="color: #ffffff;"></i>
                <p>Cauca, Colombia</p>
            </div>
        </div>
    </div>

    <!-- content -->


    <!-- Cards -->
    <section class="descubre">
        <h2 class="descubre-titulo">Descubre la Ciudad Blanca</h2>
        <div class="tarjetas-grid">
            <div class="card-sobresaliente">
                <div class="card-fondo">
                    <img src="{% static 'img/home/fondo-1.png' %}" alt="Fondo" class="img-fondo">
                    <img src="{% static 'img/home/sobresale-1.png' %}" alt="Elemento flotante" class="img-flotante">
                </div>
                <div class="card-contenido">
                    <h3>Centro histórico</h3>
                    <p>Camina por las calles empedradas y admira la arquitectura colonial que ha mantenido su esplendora
                        través de los siglos.</p>
                </div>
            </div>

            <div class="card-sobresaliente">
                <div class="card-fondo">
                    <img src="{% static 'img/home/fondo-2.png' %}" alt="Fondo" class="img-fondo">
                    <img src="{% static 'img/home/sobresale-2.png' %}" alt="Elemento flotante" class="img-flotante-2">
                </div>
                <div class="card-contenido">
                    <h3>Gastronomía típica</h3>
                    <p>Deléitate con los sabores tradicionales del Cauca: empanadas de pipián, carantanta y los famosos
                        tamales de Popayán</p>
                </div>
            </div>

            <div class="card-sobresaliente">
                <div class="card-fondo">
                    <img src="{% static 'img/home/fondo-3.png' %}" alt="Fondo" class="img-fondo">
                    <img src="{% static 'img/home/sobresale-3.png' %}" alt="Elemento flotante" class="img-flotante-3">
                </div>
                <div class="card-contenido">
                    <h3>Museos y cultura</h3>
                    <p>Explora la rica historia de la ciudad en sus museos y casas coloniales que albergan tesoros
                        culturales únicos.</p>
                </div>
            </div>

            <div class="card-sobresaliente">
                <div class="card-fondo">
                    <img src="{% static 'img/home/fondo-4.png' %}" alt="Fondo" class="img-fondo">
                    <img src="{% static 'img/home/sobresale-4.png' %}" alt="Elemento flotante" class="img-flotante-4">
                </div>
                <div class="card-contenido">
                    <h3>Hoteleria</h3>
                    <p>La hotelería se caracteriza por ofrecer una variedad de opciones que combinan la tradición
                        colonial con la comodidad moderna. Los hoteles, hostales y casas coloniales restauradas ofrecen
                        desde habitaciones sencillas hasta suites de lujo.</p>
                </div>
            </div>

            <div class="card-sobresaliente">
                <div class="card-fondo">
                    <img src="{% static 'img/home/fondo-5.jpg' %}" alt="Fondo" class="img-fondo">
                    <img src="{% static 'img/home/sobresale-5.png' %}" alt="Elemento flotante" class="img-flotante-5">
                </div>
                <div class="card-contenido">
                    <h3>Restaurantes</h3>
                    <p>Las grandes variedades de cadenasde restaurantes ofrecen una rica experiencia gastronómica,
                        destacando platos tradicionales y sabores locales.</p>
                </div>
            </div>

            <div class="card-sobresaliente">
                <div class="card-fondo">
                    <img src="{% static 'img/home/fondo-6.png' %}" alt="Fondo" class="img-fondo">
                    <img src="{% static 'img/home/sobresale-6.png' %}" alt="Elemento flotante" class="img-flotante-6">
                    <img src="{% static 'img/home/sobresale-6-1.png' %}" alt="Elemento flotante" class="img-flotante-7">
                    <img src="{% static 'img/home/sobresale-6-2.png' %}" alt="Elemento flotante" class="img-flotante-8">
                    <img src="{% static 'img/home/sobresale-6-3.png' %}" alt="Elemento flotante" class="img-flotante-9">
                </div>
                <div class="card-contenido">
                    <h3>Historia</h3>
                    <p>Ciudad famosa por su arquitectura colonial bien conservada, rica historia y tradiciones,
                        especialmente durante la Semana Santa.</p>
                </div>
            </div>

        </div>
    </section>

    <!-- segunda barra lateral -->

    <section class="promo-bar-2">
        <div class="promo-content-2">
            <div class="promo-text-2">
                <h2>Galería de Imágenes</h2>
            </div>
        </div>
    </section>



    <!-- carrusel -->

    <div class="carrusel-container">
        <div class="carrusel" id="carrusel">
            <div class="slide1">
                <img src="{% static 'img/home/galeria/carrusel_1.png' %}" alt="Imagen 1" class="carrusel_img_1">
                {% comment %} <i class="fab fa-instagram insta-icon"></i> {% endcomment %}
            </div>
            <div class="slide2">
                <img src="{% static 'img/home/galeria/carrusel_2.png' %}" alt="Imagen 2" class="carrusel_img_2">
                {% comment %} <i class="fab fa-instagram insta-icon"></i> {% endcomment %}
            </div>
            <div class="slide3">
                <img src="{% static 'img/home/galeria/carrusel_3.png' %}" alt="Imagen 3" class="carrusel_img_3">
                {% comment %} <i class="fab fa-instagram insta-icon"></i> {% endcomment %}
            </div>
        </div>
    </div>

    <div class="carrusel-container2">
        <div class="carrusel2" id="carrusel2">
            <div class="slide4">
                <img src="{% static 'img/home/galeria/carrusel_4.png' %}" alt="Imagen 1" class="carrusel_img_4">
                {% comment %} <i class="fab fa-instagram insta-icon"></i> {% endcomment %}
            </div>
            <div class="slide5">
                <img src="{% static 'img/home/galeria/carrusel_5.png' %}" alt="Imagen 2" class="carrusel_img_5">
                {% comment %} <i class="fab fa-instagram insta-icon"></i> {% endcomment %}
            </div>
            <div class="slide6">
                <img src="{% static 'img/home/galeria/carrusel_6.png' %}" alt="Imagen 3" class="carrusel_img_6">
                {% comment %} <i class="fab fa-instagram insta-icon"></i> {% endcomment %}
            </div>
        </div>
    </div>

    <div class="carrusel-container3">
        <div class="carrusel3" id="carrusel3">
            <div class="slide7">
                <img src="{% static 'img/home/galeria/carrusel_7.png' %}" alt="Imagen 1" class="carrusel_img_7">
                {% comment %} <i class="fab fa-instagram insta-icon"></i> {% endcomment %}
            </div>
            <div class="slide8">
                <img src="{% static 'img/home/galeria/carrusel_8.png' %}" alt="Imagen 2" class="carrusel_img_8">
                {% comment %} <i class="fab fa-instagram insta-icon"></i> {% endcomment %}
            </div>
            <div class="slide9">
                <img src="{% static 'img/home/galeria/carrusel_9.png' %}" alt="Imagen 3" class="carrusel_img_9">
                {% comment %} <i class="fab fa-instagram insta-icon"></i> {% endcomment %}
            </div>
            <div class="slide10">
                <img src="{% static 'img/home/galeria/carrusel_10.png' %}" alt="Imagen 3" class="carrusel_img_10">
                {% comment %} <i class="fab fa-instagram insta-icon"></i> {% endcomment %}
            </div>
        </div>
    </div>

    <div class="carrusel-container4">
        <div class="carrusel4" id="carrusel4">
            <div class="slide11">
                <img src="{% static 'img/home/galeria/carrusel_11.png' %}" alt="Imagen 1" class="carrusel_img_11">
                {% comment %} <i class="fab fa-instagram insta-icon"></i> {% endcomment %}
            </div>
            <div class="slide12">
                <img src="{% static 'img/home/galeria/carrusel_12.png' %}" alt="Imagen 2" class="carrusel_img_12">
                {% comment %} <i class="fab fa-instagram insta-icon"></i> {% endcomment %}
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal" id="modal">
        <span class="cerrar" id="cerrar">&times;</span>
        <img class="modal-contenido" id="imagenAmpliada">
    </div>

    <!-- barra lateral 3 -->

    <section class="promo-bar-3">
        <div class="promo-content-3"></div>
    </section>





    <!-- apartado noticia - cards -->

    <section class="noticias-eventos">
        <h2>Noticias y Eventos</h2>

        <div class="noticias-grid">

            <!-- Card Principal Izquierda -->
            <div class="card-principal">
                <div class="imagen"></div>
                <div class="texto">
                    <p class="fecha">4–7 de Septiembre, 2025</p>
                    <h3>Festival gastronómico de Popayán 2025</h3>
                    <p class="descripcion">
                        Saborea Colombia en la ciudad reconocida por la UNESCO como ciudad creativa de la gastronomía...
                    </p>
                </div>
            </div>
            <div class="card-larga2">
                <div class="contenido-largo2">
                    <p class="fecha2">Diciembre, 2025</p>
                    <h4>Dia de la pendecina</h4>
                    <span class="flecha" onclick="window.location.href='{% url 'noticia' %}'">→</span>
                </div>
                <div class="imagen-larga2"></div>
            </div>

            <!-- Lado derecho -->
            <div class="derecha">

                <!-- Card 1 -->
                <div class="card-secundaria">
                    <div class="overlay"></div>
                    <div class="contenido">
                        <p class="fecha">4–7 de Septiembre, 2025</p>
                        <h4>Semana santa de Popayán 2025</h4>
                        <span class="flecha" onclick="window.location.href='{% url 'noticia' %}'">→</span>
                    </div>
                </div>

                <!-- Card 2 -->
                <div class="card-secundaria2">
                    <div class="overlay2"></div>
                    <div class="contenido2">
                        <p class="fecha">10 de Enero, 2025</p>
                        <h4>Carnaval de pubenza</h4>
                        <span class="flecha" onclick="window.location.href='{% url 'noticia' %}'">→</span>
                    </div>
                </div>

                <!-- Card 3 -->
                <div class="card-larga">
                    <div class="contenido-largo">
                        <p class="fecha">Diciembre, 2025</p>
                        <h4>Festival artesanal manos de oro</h4>
                        <span class="flecha" onclick="window.location.href='{% url 'noticia' %}'">→</span>
                    </div>
                    <div class="imagen-larga"></div>
                </div>

                <!-- Card 3 -->
                <div class="card-secundaria3">
                    <div class="overlay3"></div>
                    <div class="contenido3">
                        <p class="fecha">13–20 de Abril, 2025</p>
                        <h4>Festival de música religiosa</h4>
                        <span class="flecha" onclick="window.location.href='{% url 'noticia' %}'">→</span>
                    </div>
                </div>

                <!-- Card 4 -->
                <div class="card-secundaria4">
                    <div class="overlay4"></div>
                    <div class="contenido4">
                        <p class="fecha">Noviembre, 2025</p>
                        <h4>Noche de museos</h4>
                        <span class="flecha" onclick="window.location.href='{% url 'noticia' %}'">→</span>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Footer -->

<footer class="footer">
    <div class="footer-content">

        <!-- Logo primero -->
        <div class="logo-section">
            <div class="logo-footer">
                <img src="{% static 'img/home/logo_blanco.png' %}" alt="Logo Popayán Tour">
            </div>
            <div class="linea-horizontal"></div>
        </div>

        <!-- Contenido del footer -->
        <div class="footer-grid">
            <div class="footer-section">
                <h3>{% trans "Acerca de" %}</h3>
                <ul>
                    <li><a href="#">{% trans "¿Quiénes somos?" %}</a></li>
                    <li><a href="{% url 'terminos' %}">{% trans "Términos y condiciones" %}</a></li>
                </ul>
            </div>

            <div class="footer-section">
                <h3>{% trans "Contacto" %}</h3>
                <ul>
                    <li>{% trans "Correo" %}: <br>popayanalltour</li>
                    <li>{% trans "Línea gratuita" %}: <br> 312 231 1230</li>
                </ul>
            </div>

            <div class="footer-section">
                <h3>{% trans "Redes Sociales" %}</h3>
                <ul class="social-icons">
                    <li><i class="fab fa-instagram"></i>
                        <a href="https://www.instagram.com/popayanalltour/">@PopayanAllTour</a>
                    </li>
                    <li><i class="fab fa-facebook"></i>
                        <a href="https://www.facebook.com/profile.php?id=61578069024241&mibextid=wwXIfr&mibextid=wwXifr">Popayan AllTour</a>
                    </li>
                    <li><i class="fab fa-youtube"></i> @popayanAlltour5002</li>
                </ul>
            </div>
        </div>

        <!-- Derechos -->
        <div class="footer-bottom">
            <p>&copy; PopayanAllTour | {% trans "Todos los derechos reservados" %}</p>
        </div>
    </div>
</footer>
</body>

</html>