* { 
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: url("../../img/login/Gemini_Generated_Image_e4whw3e4whw3e4wh-modified.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 80%;
    max-width: 800px;
    background: rgb(255, 255, 255);
    border-radius: 15px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
    padding: 60px 30px 30px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo {
    position: absolute;
    top: -60px;
    left: 50%;
    transform: translateX(-50%);
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
}

h2 {
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 2rem;
    text-align: center;
}

.form-section {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    gap: 20px;
    width: 100%;
    margin-top: 20px;
}

.left-form, .right-social {
    display: flex;
    flex-direction: column;
    gap: 10px;
    min-width: 300px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input {
    padding: 10px;
    border: 1px solid #aaa;
    border-radius: 6px;
    width: 100%;
}

.password-box {
    position: relative;
}

.see-password {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

form a{
    font-size: 0.80rem;
    color: #000;
    text-align: center;
    text-decoration: underline;
}
.messages {
    margin-bottom: 5px;
    padding: 0;
    color: red;
    list-style: none;
}
button {
    padding: 10px;
    background: black;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1rem;
}

.divider {
    position: relative;
    text-align: center;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 250px;
}

.divider .line {
    width: 1px;
    height: 90%;
    background: #000;
    position: absolute;
    left: 50%;
    top: 1;
    transform: translateX(-50%);
    z-index: 0;
}

.divider span {
    background: white;
    padding: 15px 5px;
    z-index: 1;
    font-size: 0.9rem;
    color: #000;
    position: relative;
}
/* ----------------------------- */
/*      RESPONSIVIDAD            */
/* ----------------------------- */

@media (max-width: 900px) {
    .container {
        padding-top: 90px;
    }

    h2 {
        font-size: 1.7rem;
    }

    .form-section {
        grid-template-columns: 1fr;
        gap: 40px;
    }

    .divider {
        flex-direction: row;
        min-height: auto;
        padding: 15px 0;
    }

    .divider .line {
        width: 100%;
        height: 1px;
        left: 0;
        transform: none;
    }

    .divider span {
        padding: 0 10px;
    }

    .left-form,
    .right-social {
        width: 100%;
    }
}

@media (max-width: 600px) {
    .container {
        padding: 100px 20px 30px;
    }

    .logo {
        width: 100px;
        height: 100px;
        top: -50px;
    }

    h2 {
        font-size: 1.5rem;
    }

    button {
        font-size: 0.9rem;
    }
}

.social-login button {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
    width: 100%;
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #000000;
    border-radius: 6px;
    background: white;
    cursor: pointer;
    color: #000;
    font-size: 0.95rem;
}

.terminos {
    margin-top: 30px;
    font-size: 0.9em;
    color: black;
    text-decoration: underline;
    text-align: center;
}






